a {
  font-size: 1.6em;
  color: grey;
}

a:hover, a:focus {
  color: #FFA500;
}

#book {
  font-size: 1em;
  text-decoration: underline;
}

body {
    background: #ffe4b3 url("plains-zebra-7435_1920.jpg") no-repeat center;
    font-size: 10px;
}

.fa {
  font-size: 1.4em;
}

#job-title {
  margin-right: -1.65em;
  margin-left: -0.8em;
  padding-left: 1em;
  font-size: 1.8em;
  background-color: #FFA500;
  border: none;
  border-radius: 0.5em 0 0 0.5em;
}

.lead {
  line-height: 2.0;
  font-size: 1.4em;
}

#name {
  font-family: 'Lobster', cursive;
}

#presentation {
  margin-top: 3em;
  padding: 3em;
  border: none;
  border-radius: 2%;
}

@media(min-width:768px) {
  a {
    font-size: 1.8em;
  }
  body {
    font-size: 12px;
  }
  h2 {
    font-size: 3.2em;
  }
}

@media(min-width:992px) {
  h2 {
    margin-bottom: 0.5em;
  }
  #job-title {
    margin-right: -2.8em;
  }
  .lead {
    line-height: 2.5;
  }
  #presentation {
    margin-top: 5em;
    padding: 5em;
  }
}
